{% extends "base_generic.html" %}
    
{% block content %}
<div class="contact-section">
    <h1 class="contact-title">Контакты</h1>
    <div class="contact-cards">
        <div class="contact-card">
            <h2>#DREAMTASTE_Замок</h2>
            <p>г. Минск, пр-т. Победителей, 65</p>
            <p>ежедневно 10:00 - 21:00</p>
            <p>Телефон: +375 (29) 751-44-55</p>
        </div>
        <div class="contact-card">
            <h2>#DREAMTASTE_Минск-Мир</h2>
            <p>г. Минск, пр-т. Мира, 1</p>
            <p>ежедневно 10:00 - 21:00</p>
            <p>Телефон: +375 (29) 626-13-14</p>
        </div>
    </div>
</div>
{% endblock %}

    
    