{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1 class="title">DreamTaste</h1>
    <div class="div_1"><p class="description">Домашняя кондитерская с авторскими десертами. Приготовим торт для Вас на любое торжество. Мы любим, когда вам вкусно и красиво</p></div>
    <div class="contact">
        <a href="{% url 'order_create' %}" class="order-button_1">Сделать заказ</a>
        <span class="phone">📞 +375(29)123-45-67</span>
        <span class="telegram">📱 @dreamtaste</span>
    </div>
    <div class="menu">
        <h2 class="menu-title">Наше меню</h2>
        <p class="menu-description">Вы можете попробовать все наши десерты и торты в любом из кафе-кондитерских DreamTaste или сделать заказ с доставкой прямо домой или офис.</p>
        <div class="product-categories">
            <div class="category-item">
                <a href="{% url 'product_list' 'cakes' %}">
                    <img src="{% static 'css/21b2c0afdfbd9994b91dd3a1af137d7a.jpg' %}" alt="Торты" style="width: 100%; border-radius: 8px;"> <!-- Замените path_to_image на реальный путь к изображению -->
                    <p>Торты</p>
                </a>
            </div>
            <div class="category-item">
                <a href="{% url 'product_list' 'pastries' %}">
                    <img src="{% static 'css/IMG_9189.jpg' %}" alt="Пирожные" style="width: 100%; border-radius: 8px;">
                    <p>Пирожные</p>
                </a>
            </div>
            <div class="category-item">
                <a href="{% url 'product_list' 'trifles' %}">
                    <img src="{% static 'css/IMG_0566_1.jpg' %}" alt="Трайфлы" style="width: 100%; border-radius: 8px;">
                    <p>Трайфлы</p>
                </a>
            </div>
            <div class="category-item">
                <a href="{% url 'product_list' 'others' %}">
                    <img src="{% static 'css/IMG_5259.jpg' %}" alt="Другая продукция" style="width: 100%; border-radius: 8px;">
                    <p>Другая продукция</p>
                </a>
            </div>
        </div>
    </div>
    <div class="why-choose">
        <h2 class="why-choose-title">Почему выбирают DreamTaste</h2>
        <div class="cards">
            <div class="card">
                <div class="card-background">1</div>
                <h3 class="card-title">НАТУРАЛЬНЫЕ ИНГРЕДИЕНТЫ</h3>
                <p class="card-text">Не используем красители и консерванты. Вся наша выпечка готовится из простых и натуральных продуктов, которые можно найти в любом доме.</p>
            </div>
            <div class="card">
                <div class="card-background">2</div>
                <h3 class="card-title">СОБСТВЕННОЕ ПРОИЗВОДСТВО</h3>
                <p class="card-text">Все компоненты для тортов, пирогов и десертов мы тоже готовим сами, будь то мороженое, карамель или соус. Даже тесто для Медовика делаем вручную!</p>
            </div>
            <div class="card">
                <div class="card-background">3</div>
                <h3 class="card-title">КОНТРОЛЬ КАЧЕСТВА</h3>
                <p class="card-text">Перед тем как попасть к вам, вся выпечка проходит контроль качества. Если сегодня продукт не соответствует требованиям, он не поступает в продажу.</p>
            </div>
            <div class="card">
                <div class="card-background">4</div>
                <h3 class="card-title">ВЫГОДНЫЕ ЦЕНЫ</h3>
                <p class="card-text">Стоимость любой нашей выпечки немного ниже, чем в других пекарнях Минска. А качество лучше! Почему? Потому что мы можем себе это позволить.</p>
            </div>
        </div>
    </div>
{% endblock %}