{% extends "base_generic.html" %}
    
{% block content %}

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

<form method="post" action="{% url 'login' %}" class="form_login">
    {% csrf_token %}
  <table class="table_login">

    <tr class="tr_login">
      <td class="td_login">Логин</td>
      <td class="td_login">{{ form.username }}</td>
    </tr>

    <tr class="tr_login">
      <td class="td_login">Пароль</td>
      <td class="td_login">{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="Войти" class="input_login"/>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
<p><a href="{% url 'register' %}">Регистрация</a></p>
{% endblock %}