{% extends "base_generic.html" %}
    
{% block content %}
    
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </form>
    <p class="text-center">Если у вас уже есть аккаунт, <a href="{% url 'login' %}">войдите</a>.</p>
    <script>
        $(document).ready(function(){
            $('#phone_input').mask('+375(00)000-00-00'); 
        });
    </script>
{% endblock %}