{% extends "base_generic.html" %}
{% block content %}
    <h2>Ваши заказы</h2>
    {% for order in orders %}
        <div class="card_order_list">
            <strong>Номер заказа:</strong> {{ order.id }}<br>
            <strong>Дата создания:</strong> {{ order.created_at }}<br>
            <strong>Метод доставки:</strong> {{ order.get_delivery_method_display }}<br>
            {% if order.delivery_method == 'delivery' %}
                <strong>Адрес доставки:</strong> {{ order.delivery_address }}<br>
            {% endif %}
            {% for item in order.orderitem_set.all %}
                <div class="order_item">
                    <strong>Продукт:</strong> {{ item.product.category.name }} - {{ item.product.name }}<br>
                    <strong>Вес:</strong> {{ item.weight }} кг<br>
                    <strong>Количество:</strong> {{ item.quantity }} шт.<br>
                    <strong>Пожелания по декору:</strong> {{ item.wishes }}<br>
                    <strong>Сложность декора:</strong> {{ item.decoration }}<br>
                    <strong>Стоимость заказа:</strong> {{ item.total_price }}<br>
                </div>
            {% empty %}
                <p>Нет товаров в заказе.</p>
            {% endfor %}
        </div>
    {% empty %}
        <p>Нет заказов.</p>
    {% endfor %}
{% endblock %}