{% extends "base_generic.html" %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card-list">
                <div class="product-content-list">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                    <p>Состав: {{ product.ingredients }}</p>
                    <p>Описание: {{ product.description|slice:":50" }}...</p>
                    <p>Цена: {{ product.price }} руб.</p>
                </div>
                <div class="product-image-list">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'category_list' %}">Назад</a>
{% endblock %}